.parent {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0px;
  box-shadow: 0px 0px 8px 1px #8885;
  white-space: nowrap;
  z-index: 100;
  background-color: white;
}

.icon {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0px 0px 4px 1px #ccc;
}

.logo {
  height: 40px;
  font-family: "Sacramento", cursive;
  font-size: 30px;
  margin: 5px;
  margin-left: 10px;
}

.subLogo {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  font-size: 12px;
  margin: 5px;
  padding-left: 5px;
}
