.parent {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 4px 1px #ddd;
  white-space: nowrap;
}

.icon {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0px 0px 4px 1px #ccc;
}

.logo {
  height: 40px;
  font-family: "Sacramento", cursive;
  font-size: 30px;
  margin: 5px;
  margin-left: 10px;
  flex: 1;
}

.subLogo {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  font-size: 12px;
  margin: 5px;
  padding-left: 5px;
  flex: 1;
}

.menuButton {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.extraHeader {
  position: fixed;
  display: flex;
  justify-content: right;
  top: 50px;
  width: 100%;
  height: 10px;
  margin-bottom: -10px;
  color: #0008;
}

.extraContent {
  display: flex;
  justify-content: right;
  width: 70px;
  height: 24px;
  border-bottom-left-radius: 30px;
  padding-right: 8px;
  font-size: 14px;
  background-color: var(--transparent-theme-color);
}
